*{
  direction: rtl;
  box-sizing: border-box !important;
  font-family: cursive;
  
}
.boxcart{
  transition: all 2s ease-in-out;
  background:linear-gradient(0deg,rgb(255, 254, 255),rgb(43, 197, 197));
  border-radius: 10px;
  padding: 5px;
  border: 2px solid black;
  margin: 5px;
  box-shadow: 0px 0px 5px 1px black;
}
.box{
  background:linear-gradient(0deg,rgb(219, 67, 224),rgb(76, 230, 241));
  overflow-x: hidden;
  height: 100vh;
}
.boxproduct{
  background:linear-gradient(180deg,rgb(80, 11, 126),rgb(7, 113, 121),rgb(146, 111, 15));

}
/* footer{
  position: relative;
  bottom: -23vh;
} */